.btn-translate-collapse {
    color: #333 !important;
    text-decoration: none !important;
    outline: none !important;
}

.btn-translate-collapse .icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.btn-translate-collapse.collapsed .icon {
    background-image: url("../img/down.png");
}

.btn-translate-collapse .icon {
    background-image: url("../img/up.png");
}
