.btn-translate-collapse{
    color: #333 !important;
    text-decoration: none !important;
    outline: none !important;
}

.btn-translate-collapse.collapsed::before {
    content: '';
    background: url("../img/chevron-circle-down-solid.svg");
}

.btn-translate-collapse::before {
    content: '';
    background: url("../img/chevron-circle-up-solid.svg");
}