.btn-translate-collapse {
    color: #333 !important;
    text-decoration: none !important;
    outline: none !important;
}

.btn-translate-collapse .icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

.btn-translate-collapse.collapsed .icon {
    background-image: url("../img/down.png");
}

.btn-translate-collapse .icon {
    background-image: url("../img/up.png");
}

.form-group-translations {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
